﻿@model IEnumerable<string>

@{
    ViewBag.Title = "Customer Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css" />
}
@section scripts {
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" type="text/javascript" ></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#customerTable').DataTable();
        });
    </script>
}

<h2>Report for customers with one or zero orders</h2>
<p>Implementation with datatables</p>
<p>Example for small dataset</p>

<table id="customerTable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var customerName in Model)
        {
            <tr>
                <td>@customerName</td>
                <td><a href='#'>Review</a></td>
            </tr>
        }
    </tbody>
</table>
@if (ViewBag.Message != null)
{
    <div class="alert alert-warning">
        <strong>Warning!</strong> @ViewBag.Message
    </div>
}
