﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Reporting</h1>
    <p class="lead">Please select an action</p>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Report for customers with one or zero orders
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>@Html.ActionLink("Datatables", "OneOrZeroOrders", "Customers", new { Area = "Report" }, new { @class = "" })</li>
            <li>@Html.ActionLink("Angular", "OneOrZeroOrdersWithAngular", "Customers", new { Area = "Report" }, new { @class = "" })</li>
            <li>@Html.ActionLink("React", "OneOrZeroOrdersWithReact", "Customers", new { Area = "Report" }, new { @class = "" })</li>
            <li>@Html.ActionLink("Datatables for authenticated users", "OneOrZeroOrders", "SecuredCustomers", new { Area = "Report" }, new { @class = "" })</li>
            <li>@Html.ActionLink("Datatables with edit rights", "OneOrZeroOrders", "AdminCustomers", new { Area = "Report" }, new { @class = "" })</li>
        </ul>
    </div>


</div>
