﻿@model IEnumerable<string>

@{
    ViewBag.Title = "OneOrZeroOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css" />*@
    <style>
        .st-sort-ascent:before {
            content: '\25B2';
        }

        .st-sort-descent:before {
            content: '\25BC';
        }
    </style>
}
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-smart-table/2.1.8/smart-table.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var _rootUrl = "@ViewBag.RootUrl";
    </script>
    <script src="~/Scripts/CustomAngular/app.js"></script>

}

<div ng-app="appSmartTable" ng-strict-di>

    <h2>Report for customers with one or zero orders</h2>
    <p>Implementation with angular.js</p>
    <p>Example for big dataset</p>
    <div ng-controller="smartTableController">

        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
            <thead>
                <tr >
                    <th st-sort="name">name</th>
                    <th>action</th>
                </tr>
                <tr>
                    <th>
                        <select class="form-control" id="rangeView" ng-model="rangeView" ng-change="rangeViewChange()">
                            <option value="1-499">View 1-499 latest</option>
                            <option value="500-999">View 500-999 latest</option>
                            <option value="1000-1499">View 1000-1499 latest</option>
                            <option value="all">View all</option>
                        </select>
                    </th>
                    <th>
                        <input st-search="name" placeholder="search for name" class="input-sm form-control" type="search" />
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in displayedCollection">
                    <td>{{row.name}}</td>
                    <td><a href='#'>Review</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
