﻿@model IEnumerable<string>

@{
    ViewBag.Title = "OneOrZeroOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
    <!-- table -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fixed-data-table/0.6.3/fixed-data-table-base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fixed-data-table/0.6.3/fixed-data-table-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fixed-data-table/0.6.3/fixed-data-table.css">


}
@section scripts {
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.30.8/react-bootstrap.min.js"></script>
      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fixed-data-table/0.6.3/fixed-data-table.js"></script>
    @*<script data-main="../../Scripts/CustomReact/app.js" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js"></script>

<script src="~/Scripts/CustomReact/app.js" type="text/babel"></script>

    <script type="text/babel">
        var _rootUrl = "@ViewBag.RootUrl";
        var customers = JSON.parse(@Html.Raw(Json.Encode(ViewBag.Customers)));
        const element = <CustomTable source={customers}/>;

        ReactDOM.render(
        element,
        document.getElementById('grid')
        );
    </script>

}

<div id="example" >

    <h2>Report for customers with one or zero orders</h2>
    <p>Implementation with react.js</p>

    <div id="grid"></div>

   </div>
